body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
hr {
    border-width: 10px;
    width: 6%;
    border-style: dotted none none none;
    border-color: #EAF6F6;
}
.pro {
    text-decoration: underline;
}
p {
    line-height: 2;
}
.intro {
    width: 20%;
    margin: auto;
}
.topContainer {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.profile {
    margin: 50px 0;
}
.middle-container {
    margin: 100px 0;
}
.img-p {
    position: relative;
    margin-top: 30px;
    height: 200px;
    width: 200px;
}
.bottom-container{
    background-color: #66BFBF;
    padding-top: 50px;
    padding-bottom: 75px;
    position: relative;
    margin-top: 30px;
    color: #EAF6F6;
}
h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Yellowtail', cursive;
    color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.web-img {
    width: 20%;
    float: left;
    margin-right: 30px;
}
.pc-img {
    width: 20%;
    float: right;
    margin-left: 30px;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
a {
    color: #11999E;
    padding-right: 25px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6;
}
.top-cloud {
    position: absolute;
    top: 10%;
    right: 35%;
    left: 65%;
}
.bottom-cloud {
    position: absolute;
    left: 25%;
    right: 75%;
    bottom: 50%;
}
.btn {
    border-radius: 10px;
    font-family: Arial;
    color: #ffff;
    font-size: 23px;
    background: #11999E;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #3498db);
    background-image: -moz-linear-gradient(top, #11999E, #3498db);
    background-image: -ms-linear-gradient(top, #11999E, #3498db);
    background-image: -o-linear-gradient(top, #11999E, #3498db);
    background-image: linear-gradient(to bottom, #11999E, #3498db);
    text-decoration: none;
  }  